@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'responsive';

body {
  overflow-x: hidden !important;
}
.animation {
  margin-right: 0px;
  animation-duration: 1s;
	animation: anime 2s ease-in-out;
  border-radius: 10px;
  position: relative;
}

@keyframes anime {
  0% {
    left: -150px;
  }
  100% {
    left: 0px;
  }
}

.Secondanimation {
  animation-duration: 1s;
	animation: second 2s ease-in-out;
  border-radius: 10px;
  position: relative;
}
@keyframes second {
  0% {
    right: -490px;
  }
  100% {
    right: 0px;
  }
}